#slider {
    min-height: 500px;
    background-image: url("../../../Assets/Home/lqa_slider.jpg");
    background-position: center;
    background-size: cover;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#slider .p {
    padding: 40px 0;
    font-size: 20px;
}


@media screen and (max-width: 768px){
    #slider {
        min-height: 450px;
    }
}