.res-overview  {
    padding: 10px;
    border: 1px solid #403D39;
    margin: 40px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.res-overview .edit-icon {
    width: 25px;
}

.res-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 0;
}

.res-form input {
    width: 220px;
    height: 40px;
    border: 1px solid #403D39;
    padding: 5px 0 5px 10px;
}


.res-form textarea {
    height: 80px;
    width: 460px;
}

@media screen and (min-width: 769px) and (max-width: 1199px) {

}

@media screen and (max-width: 768px){
    .res-overview {
        margin: 25px 0;
        flex-direction: column;
    }

    .res-overview .edit-icon {
        margin: 0 auto;
        padding-top: 15px;
    }

    .res-form {
        flex-direction: column;
        padding: 0;
    }

    .res-form input {
        width: 100%;
        margin: 5px 0;
    }

    .res-form textarea {
        width: 100%;
        margin: 5px 0;
    }
}