.container-contact {
    width: 850px;
    margin: 0 auto;
}

.form-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 0;
}

label {
    display: block;
}

.form-group input {
    width: 400px;
    height: 40px;
}

.form-group textarea {
    height: 200px;
    width: 850px;
}

.btn-form {
    padding: 5px 10px;
    margin-top: 10px;
    font-size: 16px;
}

@media screen and (min-width: 769px) and (max-width: 1199px) {
    .container-contact {
        width: 700px;
    }

    .form-group input, textarea {
        width: 330px;
    }
}

@media screen and (max-width: 768px){
    .container-contact {
        width: 300px;
    }

    .form-group {
        flex-direction: column;
        padding: 0;
    }

    .form-group input{
        width: 300px;
        margin: 5px 0;
    }

    .form-group textarea {
        width: 300px;
        margin: 5px 0;
    }
}