.slider-card {
    min-height: 280px;
    background-image: url("../../Assets/RestaurantMenu/slider_card.jpg");
    background-position: center;
    background-size: cover;
}

.slider-card .p {
    padding-bottom: 40px;
}

.card-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card-item {
    width: 350px;
    border-bottom: 1px solid  #CCC5B9;
    margin: 0 25px;
    padding: 20px 0;
}

.uppercase {
    text-transform: uppercase;
}

.card-restaurant .separator {
    background-color: #C44900;
    height: 2px;
    width: 300px;
    margin: 0 auto 40px auto;
}

.category {
    padding: 40px 0 20px 0;
}

.menu {
    display: flex;
    justify-content: space-around;
}

.menu-category {
    width: 350px;
}

.menu-category h3 {
    border-bottom: 1px solid  #CCC5B9;
    padding: 20px 0;
}

.menu-dish {
    border-bottom: 1px solid  #CCC5B9;
    padding: 20px 0;
}

@media screen and (min-width: 769px) and (max-width: 1199px) {
    .slider-card .p {
        width: 90%;
        margin: 0 auto;
    }

    .card-items {
        flex-direction: column;
        margin: 0 auto;
        width: 60%;
    }

    .card-item {
        width: 100%;
    }

    .category {
        padding: 25px 0 10px 0;
    }

    .card-restaurant .separator {
        margin-bottom: 20px;
    }

    .menu {
        flex-direction: column;
        margin: 0 auto;
        width: 60%;
    }

    .menu-category, .menu-dish {
        width: 100%;
    }

    .menu-category h3 {
        color: #C44900;
    }
}


@media screen and (max-width: 768px){
    .slider-card {
        min-height: 320px;
    }

    .slider-card .p {
        width: 90%;
        margin: 0 auto;
    }

    .card-items {
        flex-direction: column;
    }

    .card-item {
        width: 90%;
    }

    .category {
        padding: 25px 0 10px 0;
    }

    .card-restaurant .separator {
        margin-bottom: 20px;
    }

    .menu {
        flex-direction: column;
        margin: 0 auto;
        width: 90%;
    }

    .menu-category, .menu-dish {
        width: 100%;
    }

    .menu-category h3 {
        color: #C44900;
    }
}